body{
	background-image: url("dark_exa.png");

}

h1{
	/*margin: 500em 100em;*/
}
form{
  margin-left: 40px;
}

/*
h1{
				font-family: 'Grand Hotel', cursive;
				color:white;
				margin: 1em 1em;
			}

.select{
	margin: 0em 3em;
}
*/
/*
h1{
  font-family: "Grand Hotel", cursive;
}

.select{
  margin:03em 4em;
}
*/